<div style="padding-top: 10px;padding-bottom: 50px;padding-left: var(--spacer-2);padding-right: var(--spacer-2);margin-left: auto;margin-right: auto;background-color: #f0f0f0;position:absolute;width: 100%;padding-bottom: 0px;" id="footer">
      <footer class="footer" style="margin: 0px">
          <small>
          Copyright © <time datetime="2020-12-03T23:11:46+08:00">{{ site.time | date: "%Y" }}</time> tcps all right reserved.
          </small>
          <small>
          <a href="javascript:location.reload();" style="text-decoration: none; color: #495057">{{ site.github.build_revision | truncate: 7, "" }}</a><a href="/info" style="text-decoration: none; color: #495057">...</a>
          </small>
          <small style="float:right;text-align: right">
          <a href="/jump-oriental/" style="color: #495057">Oriental</a>
            <span> | </span>
          <a href="/term" style="color: #495057">Terms Of Use</a>
          </small>
          <br>
          <div style="margin-top: 25px;">
            <div style="display: inline-block;padding-right: 25px;vertical-align: top;">
            <small><span style="font-weight: 600;color: #1d1d1d">Plugins</span>
            <ul style="list-style: none;padding: 0px"><li><a href="/gallery" style="color: #495057">Gallery</a></li></ul>
            </small>
            </div>
    
<div style="display: inline-block;padding-right: 25px;vertical-align: top;">
           <small><span style="font-weight: 600;color: #1d1d1d">Offers</span>
           <ul style="list-style: none;padding: 0px"><li><a href="/tcps-member" style="color: #495057">tcps Member</a></li></ul>
          </small>
          </div><div style="display: inline-block;padding-right: 25px;vertical-align: top;">
           <small><span style="font-weight: 600;color: #1d1d1d">Support</span>
           <ul style="list-style: none;padding: 0px"><li><a href="/support/articles" style="color: #495057">Articles</a></li><li><a href="/support/get-in-touch" style="color: #495057">Get in touch</a></li></ul>
          </small>
          </div>
            <div style="display: inline-block;padding-right: 25px;vertical-align: top;">
           <small><span style="font-weight: 600;color: #1d1d1d">About tcps</span>
           <ul style="list-style: none;padding: 0px"><li><a href="/contact" style="color: #495057">Contact tcps</a></li><li><a href="/leadership" style="color: #495057">Leadership</a></li></ul>
          </small>
          </div>
          
        
            </div>
      </footer>
    </div>
