<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <META HTTP-EQUIV="EXPIRES" CONTENT="0">

  <title>
    {% if page.layout == "home" %}
      tcps
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">
  <style type="text/css">
    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    @import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
  </style>

  {% seo title=false %}
</head>
