{% if paginator.page }}
 <div style="text-align: center">
   {% if paginator.previous_page %}
     <a href="/page{{ paginator.previous_page }}" style="color: #000000; font-size: 20px"><</a>
   {% else %}
     <span style="color: #808080; font-size: 20px"><</span>
   {% endif %}
       <span style="color: #000000;">{{ paginator.page }} of {{ paginator.total_pages }}</span>
   {% if paginator.next_page %}
     <a href="/page{{ paginator.previous_page }}" style="color: #000000; text-align: center">></a>
   {% else %}
     <span style="color: #808080; font-size: 20px">></span>
   {% endif %}
 </div>
{% endif %}
