<div style="margin: 0px auto">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" style="color: #000000; text-align: center"><</a>
  {% else %}
    <span style="color: #808080; text-align: center"><</span>
  {% endif %}
  <span style="color: #000000; text-align: center">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.previous_page }}" style="color: #000000; text-align: center">></a>
  {% else %}
    <span style="color: #808080; text-align: center">></span>
  {% endif %}
</div>
