<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <script>
      window.onload = function(){
    var header = document.getElementById('header');
    var headerh = header.offsetHeight;
    var footer = document.getElementById('footer');
    var footerh = footer.offsetHeight;
    var minh = headerh + footerh + 1;
    var content = document.getElementById('maincnt');content.style.setProperty('--minh', 'calc(100vh - '+minh+'px)');
    }

    </script>
    {% if site.preview==1 %}
    <script>
      let urlParams = new URLSearchParams(window.location.search);
      if(urlParams.get('preview')!='{{ site.previewcode }}')
        location="//ttcps.github.io/under-construction"
    </script>
    {% endif %}
    {% if page.preview == 1 %}
    <script>
      let urlParams = new URLSearchParams(window.location.search);
      if(urlParams.get('preview')!='{{ page.previewcode }}')
        location="//ttcps.github.io/nopermission_preview"
    </script>
    {% endif %}
    <div id="header">
    <h1 style="font-size:15px;line-height: 40px;background-color: #1d1d1d;text-align: center; margin: 0px;"><a href="/" style="color: #ffffff;text-decoration: none;">tcps</a></h1>
    {% if site.preview == 1 or page.preview == 1 %}
    {% include banner.html text="This page is under construction..." %}
    {% endif %}
    </div>
    <div class="container content" id="maincnt" style="min-height: calc(var(--minh, 0px) - 25px);" >
      <main>
        {{ content }}
      </main>
    </div>
    <div style="height: 25px"></div>
    {% include footer.html %}
  </body>
</html>
