<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <h1 style="font-size:15px;line-height: 40px;background-color: #1d1d1d;text-align: center; margin: 0px;"><a href="/" style="color: #ffffff;text-decoration: none;">tcps.</a></h1>
    {% include banner.html background-color="var(--link-color)" text="<a href='/covid' style='color: #ffffff; text-decoration: none;'>Stay home, stay safe. Learn more about COVID-19.</a>" %}
    {% include banner.html text="This site is under construction..." %}
    <div class="container content">
      <main>
        {{ content }}
      </main>
   <div style="padding-top: 10px;padding-bottom: 50px;padding-left: var(--spacer-2);padding-right: var(--spacer-2);margin-left: auto;margin-right: auto;background-color: #f0f0f0;position:absolute;width: 100%;height: 100px;">
    <footer class="footer" style="margin: 0px">
        <small>
          Copyright © <time datetime="2020-12-03T23:11:46+08:00">2020</time> tcps all right reserved.
        </small>
        <small>
          <a href="javascript:location.reload();" style="text-decoration: none; color: #495057">b164162</a><a href="/info" style="text-decoration: none; color: #495057">...</a>
        </small>
      </footer>
   </div>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
