<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="tcps &mdash; TheoTown Chinese Plugins Studio. Check out our plugins, and latest news.">
    <meta property="og:type" content="website" />  
    <meta property="og:title" content="tcps" />
    <meta property="og:description" content="tcps &mdash; TheoTown Chinese Plugins Studio. Check out our plugins, and latest news." />
    <meta property="og:image" content="https://ttcps.github.io/images/tcps_og-image.png" />
    <meta property="og:url" content="https://ttcps.github.io" />
    <meta property="og:site_name" content="tcps" />
    <title>tcps</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/" style="color:black;text-align: center">tcps</a></h1>
      </header>
      <section>
      {{ content }}
      <hr>
      <h4 style="text-align: center"><a href="/plugins/download">Plugins Download</a>&emsp;<a href="/news">News</a>&emsp;<a href="/leadership">Leadership</a>&emsp;<a href="/contact">Contact us</a></h4>
      <p style="text-align: center">Copyright © 2020 tcps all right reserved.</p>

      </section>
      <footer>
        <a href="/term">Term of Use</a>
        <br>
        <small>Using this site mean you agree with this term</small>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
