---
layout: default
---

<style type="text/css">
.text{
  line-height: 35px;
  font-size: 15px;
  color:black;
  text-align: left;
}
h1{
  text-align:center
  }
hr{
  margin: 20px auto
}
</style>

<h1 style="text-align:left">{{ page.title }}</h1>
<small>Share to: <a href="https://www.facebook.com/sharer/sharer.php?u=https://ttcps.github.io{{ page.url }}">Facebook</a> | <a href="https://twitter.com/tweet?url=https://ttcps.github.io{{ page.url }}">Twitter</a> | <a href="mailto:https://ttcps.github.io{{ page.url }}">Email</a></small?

<img src="{{ page.rimg }}" style="width: 100%">
<div style="height: 20px"></div>

{{content}}

<hr>
Posted on {{ page.date | date: "%-d %B %Y" }}
<br>
Author: {{ page.author }}
<hr>
<img src="favicon.ico" style="width:25%"> News
<p class="text">Learn more news and latest events from tcps</p>
<p class="text"><a href="/news">Read more ></p>
<hr>
