---
layout: default
---

<script type="text/javascript">
function copyUrl2()
{
var Url2="https://ttcps.github.io{{page.url}}"
Url2.select();
document.execCommand("Copy");
alert("Done");
}
</script>

<style type="text/css">
.text{
  line-height: 35px;
  font-size: 15px;
  color:black;
  text-align: left;
}
h1{
  text-align:center
  }
hr{
  margin: 20px auto
}
</style>

<h1 style="text-align:left">{{ page.title }}</h1>
<small>Share to: <a href="https://www.facebook.com/sharer/sharer.php?u=https://ttcps.github.io{{ page.url }}">Facebook</a> | <a href="https://twitter.com/home?status=https://ttcps.github.io{{ page.url }}">Twitter</a> | <a href="javascript:copyUrl2()">Copy to clipboard</a></small>

<img src="{{ page.rimg }}" style="width: 100%">
<div style="height: 20px"></div>

{{content}}

<hr>
Posted on {{ page.date | date: "%-d %B %Y" }}
<br>
Author: {{ page.author }}
