---
layout: default
permalink: pretty
---

<style type="text/css">
.text{
  line-height: 35px;
  font-size: 15px;
  color:black;
  text-align: left;
}
h1{
  text-align:center
  }
hr{
  margin: 20px auto
}
</style>

<h1 style="text-align:left">{{ page.title }}</h1>

<img src="{{ page.rimg }}" style="width: 100%">
<div style="height: 20px"></div>

{{content}}

<hr>
Posted on {{ page.date | date: "%-d %B %Y" }}
<br>
Author: {{ page.author }}
    <div style="height:20px"></div>
<a href="/news">
    <img src="/images/T-News-banner0.svg" style="width:100%">
    </a>
